*.js.map
*.js
!scripts/generate-endpoints-from-schema.js
!scripts/copy-config-from-sample.js
node_modules
yarn-*
.idea
.vscode
config/config.ts
config/config.d.ts
config/config-test.ts
config/config-test.d.ts
target